* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #f9f9f9
}

body {
    width: 100%;
    background-image: url(img/bodybg.png);
}

.main-visual {
    width: 100%;
    height: 236px;
    background: #1b272d url(img/rubik.png) 0px 0 repeat;
    background-size: cover;
    margin-bottom: 32px;
    padding-top: 60px;
    position: relative;
}

.main-visual h1 {
    position: absolute;
    margin-left: -142px;
    top: 50%;
    left: 50%;
    text-shadow: 0px 0px 20px #fff;
}

.top-letter {
    transition: 0.8s;
}

.top-letter:hover {
    text-shadow: none;
    color: #666;
}

#main {
    width: 608px;
    margin: 0 auto;
    overflow: hidden;
    background: #1b272d;
    padding: 16px;
    float: left;
}

#header {
    width: 100%;
    overflow: hidden;
    background: #bfab7e;
    padding: 6px 0px;
    position: fixed;
    z-index: 2;
}

#header h1 {
    float: left;
    margin-right: 40px;
}

nav {
    overflow: hidden;
    color: #fff;
}

nav li {
    list-style-type: none;
    float: left;
    margin-top: 2px;
}

nav a {
    font-size: 16px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 14px 16px 0px;
    transition: 0.3s;
}

nav a:hover {
    text-shadow: 0px 2px 0px #8f805e;
    margin: 10px 16px 4px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

#linkinpage ul {
    list-style-type: none;
    text-align: center;
    font-size: 0;
}

#linkinpage li {
    display: inline-block;
}

#linkinpage a {
    text-decoration: none;
    color: #aaa;
    width: 100px;
    display: inline-block;
    background: #1b272d;
    text-align: center;
    padding: 5px 0;
    font-size: 10px;
    transition: 0.2s;
    letter-spacing: 3px;
    overflow: hidden;
    position: relative;
}

#linkinpage a:active {
    color: #1b272d;
}

#content1 {
    position: relative;
}

#content3 {
    position: relative;
}

.dissolve-animation {
    position: relative;
    width: 300px;
    float: left;
}

#content1 .dissolve-animation .caption {
    position: absolute;
    padding: 20px;
    height: 160px;
    width: 260px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

#content1 .dissolve-animation .caption h2 {
    color: #1b272d;
    font-size: 13px;
}

#content1 .dissolve-animation .caption h3 {
    color: #1b272d;
    font-size: 15px;
}

#content1 .dissolve-animation:hover .caption {
    -webkit-transform: translate(8px, 8px);
    -ms-transform: translate(8px, 8px);
    -o-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
    opacity: 1;
}

.flip-animation {
    position: relative;
    width: 300px;
    float: left;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    perspective: 500;
    -webkit-perspective-origin: left;
    -moz-perspective-origin: left;
    -ms-perspective-origin: left;
    perspective-origin: left;
}

#content2 .flip-animation .caption {
    position: absolute;
    padding: 20px;
    background: #bfab7e;
    height: 159px;
    width: 100px;
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: transform 0.4s, opacity 0.1s 0.3s;
    -o-transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

#content2 .flip-animation:hover .caption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: transform 0.4s, opacity 0.1s;
    -o-transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

#content2 .flip-animation img {
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
}

#content2 .flip-animation:hover img {
    -webkit-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
    transform: translateX(25%);
}

#content2 .flip-animation .caption h2 {
    color: white;
    font-size: 13px;
}

#content2 .flip-animation .caption h3 {
    color: white;
    font-size: 15px;
}

#content3 h3 {
    font-size: 11px;
}

img {
    float: left;
}

.top-title {
    font-size: 36px;
    padding-left: 8px;
    margin-bottom: 16px;
    color: 555px;
    font-weight: 400;
    border-left: 6px solid #bfab7e;
}

h2 {
    color: #bfab7e;
    margin-bottom: 16px;
}

p {
    margin-bottom: 16px;
    padding: 0px 18px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 22px;
}

.right-box {
    float: right;
    width: 288px;
    margin-left: 18px;
}

.left-box {
    float: left;
    width: 288px;
    margin-left: 18px;
}

a.button {
    margin-top: 16px;
    margin-left: 18px;
    font-size: 16px;
    padding: 8px 32px;
    background: #bfab7e;
    color: #1b272d;
    border: 1px solid #bfab7e;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

a.button:hover {
    background: #1b272d;
    color: #bfab7e;
}

.content {
    border-bottom: 1px solid #554;
    padding: 32px 0;
    overflow: hidden;
}

#content5 ol {
    float: left;
}

#content5 li {
    counter-reset: padding-counter;
    list-style-type: none;
    background-color: #f9f9f9;
    color: #1b272d;
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 6px;
    padding-left: 60px;
    width: 235px;
    position: relative;
}

.nom {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bfab7e;
    height: 24px;
    padding: 5px;
}

#sidebar {
    float: left;
    width: 280px;
    margin: 0px 12px;
    background: #1b272d;
    padding: 8px;
}

#sidebar img {
    margin-bottom: 16px;
}

#sidebar h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

#sidebar p {
    font-size: 16px;
}

#footer a {
    font-size: 10px;
    color: #aaa;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 5px 0px;
    margin-top: 10px;
    position: relative;
    width: 120px;
    display: block;
    background: #1b272d;
    text-align: center;
    transition: 0.2s;
    float: left;
    overflow: hidden;
}

#footer a:active {
    color: #1b272d;
}

.edge {
    display: block;
    height: 1px;
    width: 70%;
    position: absolute;
    left: 13%;
    top: auto;
    bottom: 0;
    background: none repeat scroll 0 0 #aaa;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover .edge {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
